.main_chat
  .main_chat__info
    .main_chat__left
      .main_chat__one test
      .main_chat__two Member:masa
    .main_chat__edit
      = link_to "#", class: "main_chat__Edit" do
        Edit
  .messages
    = render @messages
  -# -# .form
  -#   .box
  -#     .message[@group, @message] do |f|
  -#       %input{type: "text", class: "typemessage", placeholder: "type a message"}
  -#       %label{class: "image"}
  -#         = icon('fas','image')
  -#         %input{type: "file", class: "image__file"}
  -#     %input{type: "submit", class: "sumit__btn"}

  .form
    .box
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'typemessage', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'image__file'
        = f.submit 'Send', class: 'sumit__btn'